@import url('https://fonts.googleapis.com/css?family=Arvo');

* {
    margin: 5px;
  padding: 4px;
  box-sizing: border-box;
  text-align:center;
}

body {
background-color: #2e2e2e;
  font-family: 'Arvo', serif;
  color:white;
}
/* #distance{
} */




/* #box2{
  color:#e60000;
}

#box3{
  color:#3399ff;
}

#box4{
  color:#ff9933;
} */


